.productPage {
  width: 80vw;
  // margin-left: 15vw;
  overflow: hidden;
  background-color: #FAF9FA;
  margin-top: 100px;

  .productBox {
    background-color: #FFFFFF;
    width: 30vw;
    height: 30vw;
    border-radius: 30px;
  }
}