.productPage {
  width: 80vw;
  // margin-left: 15vw;
  overflow: hidden;
  margin-top: 100px;
  

  .productDisplay {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;


    .productBox {
      width: 35vw;
      height: 30vw;
      // border: 1px solid #F3F3F3;
      border-radius: 30px;

      .productName {
        margin: 3vh;
        text-align: left;
        color: #452B7B;
        font-size: 200%;
      }

      .buyButton {
        color: white;
        font-weight: 600;
        font-size: 100%;
        cursor: pointer;
        width: 30vw;
        height: 10%;
        border: none;
        border-radius: 20px;
        background-color: #55C8D5;

        // margin-top: 20vw;
      }
    }
  }
}

.productPage--dark {
  background-color: #100C18;

  .productBox {
    background-color: #27262C;
  }
}

.productPage--light {
  background-color: #FAF9FA;

  .productBox {
    background-color: #FFFFFF;
  }
}